html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


  body {
    background-color:#fff100;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  
  }

  #icon_container { 
    /*This stuff centres the icon container in the centre of the viewport*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    width: auto;
    padding: auto;
    background-color:#fcd433;
    border-radius: 25PX;

    /*Flex Container Rules*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border-style: solid; */
    justify-content: center;
    gap: 1rem; /*The space between the icons */
  }

  /*Two icons per div so the icons wrap evenly*/
  #icon_set_1, #icon_set_2 { 
    

    width: auto;
    padding: 1.5rem;
  
    /*Flex Container Rules*/
    display: flex;
    flex-direction: row;
    /* border-style: solid; */
    justify-content: center;
    gap: 2rem; /*The space between the icons */
  }

  


 

