html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


  body {background-color:#fff100 }

  #mainbox {
    
  background-color:#fcd433;
  margin: auto;
  width: 500px;
  height: 100px;
  padding: 70px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  border-radius: 25PX;
  /*border: 3px solid green;*/
    
  }

  #iconsection {
    border-radius: 25PX;
    display: flex;
    padding: 5%;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    /* background-color:blue; */
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  #icon {
  }



  