html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


  body {background-color:#fff100 }

  #mainbox {background-color:#fcd433;
    display: flex;
    height: 20%;
    width: 70%;
    margin: auto;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    
  }

  #iconsection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /*background-color:blue;*/
    height: 40%;
    width: 80%;
    margin: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }